<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <form method="POST" action="/entries/<%=entry._id%>?_method=PUT">
      Title: <input type="text" name="title" value="<%=entry.title %>" />
      </br>
      <input type="Submit" value="Update Journal" />
    </form>
    <a href="/entries">Back the the list of entries</a>
  </body>

</html>