<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <h1>Simple Journal...</h1>
    <div class="journal">
    <ul>
      <% entries.forEach(entry=> { %>
        <li>
          <a href="/entries/<%= entry._id %>">
            <%=entry.title %>
          </a>
        </li>
        <% }) %>
    </ul>
    <a href="/entries/new">New entry</a>
    </div>
  </body>

</html>