<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <h1>Write a New Entry</h1>
    <form method="POST" action="/entries">
      Title: <input type="text" name="title" />
      </br>
      Author: <input type="text" name="author" />
      </br>
      Entry: <input type="text" name="body" style="width:400px; height: 400px" ; />
      </br>
      <input type="submit" name="" value="Submit Entry" />
    </form>
    <a href="/entries">Back to list of journal entries</a>

  </body>

</html>